<!doctype html>

<!-- #home -->

<html>

	<head>
		<title> home - <!-- ! {{ username }} --></title>
	</head>

	<body>	
		<div id = left>
			<h3> Online : 40</h3>
			<hr>
			<ul>
				<li>HOME</li>
				<li>SETTINGS</li>
				<li>PAGES</li>
				<li>PHOTOS</li>
				<li>FAVORITES</li>
				<li>&darr; all friends</li>
			</ul>
			
			<div id = revenueStream>
				Revenue stream
			</div>
		</div>
		
		<div id = right >
			<div id = header>
			Chat with friend's name <!-- {{nameOfFriendChattingWith}}-->
			</div>
			
			<div id = chatStream>
			</div>

			<div id = chatInput>
			</div>			
		</div>		
	</body>

</html>
